
#destroy-button{
  color: #f44336;
  font-size: 1.5em;
  border-radius: 0.5em;
  width: 18em;
  height: 3.5em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: auto;
}

#destroy-button:hover{
  background-color: red;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#play-again{
  color: #3333ff;
  font-size: 1.5em;
  font-variant: small-caps;
  border-radius: 0.5em;
  width: 85%;
  height: 3.5em;
  margin: auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#play-again:hover{
  background-color: #80b3ff;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#select-position, #select-ship, #reset{
  margin-left: 1em;
  margin-bottom: 1em;
}
