#form-table{
  border-spacing: 0px;
}

#form-table img{
  border: 1px solid lightblue;
  width: 100px;
  height: 60px;
}

#form-table td:hover {
  background: lightblue;
  cursor: url(http://icons.iconarchive.com/icons/aha-soft/free-game/24/Anchor-icon.png), auto;
  /* cursor: url(http://icons.iconarchive.com/icons/messbook/outdated/32/Ship-Wheel-icon.png), auto; */
}
