#container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#logo {
  display: inline-block;
  /* vertical-align: top; */
  width: 80%;
  margin: auto;
  display: block;
}

body {
  background-image: url('images/battleship-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


h2 {
  font-size: 1.8em;
  background-color: #4BB543;
  display: inline-block;
  font-variant: small-caps;
  text-align: center;
}

#turn-info-1, #turn-info-2, #game-finished {
  position: fixed;
  top: 0%;
  width: 100%;
  margin: 0%;
}

#turn-info-1, #turn-info-2, #game-info1, #game-info2, #player-2-info, #player-1-info {
  font-variant: small-caps;
  font-weight: bold;
}

#result {
  background-color: #B33A3A;
  width: 100%;
}

h2 {
  font-size: 1.8em;
  background-color: #4BB543;
  display: inline-block;
  font-variant: small-caps;

}

h3 {
  font-size: 1.5em;
  background: rgb(109, 112, 117);
}

#game-info2 {

}

h3, h2 {
  font-family: 'Open Sans', sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.2em;
  text-align: center;
  border-radius: 0.3em;
  color: white;
}

#player-2-info {
  background-color: rgba(179, 26, 255, 0.5);
}

#player-1-info {
  background-color: rgba(41, 163, 41, 0.5);
}

#game-info2 {
  background-color: rgba(179, 26, 255, 0.5);

}

#game-info1 {
  background-color: rgba(41, 163, 41, 0.5);

}

#turn-info-2 {
  background-color: rgba(179, 26, 255, 1.0);
}

#turn-info-1 {
  background-color: rgba(41, 163, 41, 1.0);
}
