#container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



#header
{
    position: sticky;
    width:100%;
    height:100%;
    text-align: center;
    margin: auto;

}

#centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

#logo
{
    display: inline-block;
    vertical-align: top;
}

body {
  background-image: url('images/battleship-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}


h2 {
  font-size: 1.8em;
  background-color: #4BB543;
  display: inline-block;
  font-variant: small-caps;
  text-align: center;
}

#turn-info {
  position: fixed;
  float: left;
  top: 5%;
  width: 100%;
  margin: 0%;
}

h3 {
  font-size: 1.5em;
  background: rgba(0, 127, 255,0.5);
}

h3, h2 {
  font-family: 'Open Sans', sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0.6em;
  border-radius: 0.1em;
  color: white;
}
