body {
  padding: 25px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
}

h2 {
  margin-bottom: 0;
}

#list {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
}

#item {
  display: inline;
  width: 100%;
  padding-left: 3%;
  padding: 1%;
}

#item:hover {
  background-color: black;
  overflow: hidden;
  color: white;
}

p {
  font-size: 20px;
}
